
<tr class="favorite-row">
  <td class="item-link"><%= link_to favorite[:title], favorite[:url], :target => "_blank" %></td>

  <td class="publication-date">
    <%= favorite[:publication_date].strftime("%a %b %d, %Y") if favorite[:publication_date] %>
  </td>

  <td><%= link_to 'Remove', "/favorites/#{favorite.id}",
            method: :delete, data: { confirm: "Do you want to remove '#{favorite.title}'?" } %>
  </td>
</tr>
