<p id="notice"><%= notice %></p>

<div class="page-header text-center">
  <h1>Hacker News RSS Reader</h1>
</div>

<div class="container">
  <div class="links-row">
    <ul>
      <li>
        <%= link_to "Headlines", "/headlines" %>
      </li>
    </ul>
  </div>

  <table id="favorite-items" class="table-striped" >
    <caption>Favorites</caption>

    <thead>
      <tr>
        <th>Title</th>
        <th>Published</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @favorites.each do |favorite| %>
        <%= render 'favorite_item', favorite: favorite %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $('#favorite-items').dataTable({
    "bPaginate": true,
    "bStateSave": true,

    aaSorting: [[1, 'dsc']],
    bSortable: true,

    "bInfo": true,
    "bFilter": true,
    "bAutoWidth": false,
    "aoColumns" : [
        { sWidth: '650px' },
        { sWidth: '100px' },
        { sWidth: '40px' }
    ]
  });
</script>
