
<div class="page-header text-center">
  <h1>Feed Lister</h1>
</div>

<div id="notice">
  <p><%= notice %></p>
</div>

<div class="container">
  <div class="links-row">
    <ul>
      <li>
        <%= link_to "Favorites", "/favorites/index" %>
      </li>

      <li>
        <%= link_to "Refresh Headlines", "/headlines" %>
      </li>
    </ul>
  </div>

  <table id="feed-items" class="table-striped" style="border-collapse:separate">
    <caption>Headlines</caption>

    <thead>
      <tr>
        <th>Title</th>
        <th>Published</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @entries.each_with_index do |entry, index| %>
        <%= render 'headline', entry: entry, index: index  %>
      <% end %>
    </tbody>
  </table>
</div>

<script>
  $('#feed-items').dataTable({
    "bPaginate": true,

    aaSorting: [[1, 'dsc']],
    bSortable: true,

    "bInfo": true,
    "bFilter": true,
    "bAutoWidth": false,

    "aoColumns" : [
        { sWidth: '650px' },
        { sWidth: '100px' },
        { sWidth: '40px' }
    ]
  });
</script>

