// Place all the styles related to the Headlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// layout
div.dataTables_filter, .dataTables_paginate {
  text-align: right;
}

.links-row ul li {
  display: inline;
  text-decoration: underline;
  margin-left: 20px;
  font-size: 1.2em;
  float: right;
}

ul li a:hover, ul li a:focus {
  background-color: lightgray;
}

.links-row {
  padding-bottom: 30px;
}
// tables
table caption {
  margin-top: 10px;
  text-align: left;
  font-size: 2.0em;
}

table {
  border: 1px solid blue;
  margin-bottom: 8px;
}

table th {
  padding-left: 4px;
}

table tr td {
  padding-top: 4px;
  padding-left: 4px;
  vertical-align: top;
}

table#feed-items.dataTable.no-footer {
  background-color: lightyellow;
  width: 100%;

  border-collapse: collapse;
}

//table#favorite-items {
//  background-color: lightcyan;
////  width: 90%;
//}

// others
input {
  margin-left: 14px;
}

table a:hover, table a:focus {
  background-color: lightgray;
}

.save-link {
  text-decoration: underline;
}

.item-link {
  width: 380px;
}

.publication-date {
  width: 136px;
}

