// Place all the styles related to the Headlines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// others
#notice{
  display:block;

  width:50%;
  height:20px;

  margin-left: auto;
  margin-right: auto;

  overflow:scroll;
  color: orange;
}

#notice p {
  text-align: center;
  height: 20px;

  font-size: 1.2em;
}

input {
  margin-left: 14px;
}

.save-link {
  text-decoration: underline;
}

.previously-saved {
  text-decoration: none;
  margin: 0px;
}

.small-italics {
  font-size: 0.4em;
  font-style: italic;
}
